﻿@using Adivinator.Models

@{
    var partida = (Partida)Session["partida"];



}
@{
    ViewBag.Title = "Ganaste!";
}

<h2>Ganaste en @partida.intentosPartida intentos!! Sos un capo!!</h2>



<div>@Html.ActionLink("Inicio", "Index", "Home")</div>
<div>@Html.ActionLink("Cambiar de jugador", "Salir", "Jugar")</div>
<div>@Html.ActionLink("Iniciar Juego Nuevo", "NuevaPartida", "Jugar")</div>
