﻿@using Adivinator.Models


@{
    ViewBag.Title = "Jugar";
    <div class="badge" style="float">
        <h3>Jugador:@ViewBag.CookieNom</h3>
        <h3>Puntos en este browser:@ViewBag.CookiePuntos</h3>
        <h3>Ganados en este browser:@ViewBag.CookieGanados</h3>
    </div>


}







@{
    var partida = (Partida)Session["partida"];

}

@if (partida != null)
{

    <h2>Hola, @partida.jugador.Nombre </h2>
    <h2> En esta sesión ganaste @partida.jugador.partidasGanadas partidos, y tenés @partida.jugador.puntosJugador puntos</h2>

    <h3>@ViewBag.Mensaje   </h3>

    <form action="/Jugar/Index" method="post">
        <label>Ingresar número</label>
        <input type="number" name="num" min="1" max="100" required />

        <input type="submit" value="intentar" />

    </form>

    
    <h3>Intentos: @partida.intentosPartida </h3>
    if (partida.Intentos != null)
    {
        foreach (var intento in partida.Intentos)
        {

            if (intento > partida.NroAleatorio)
            {
                <div> @intento  <span>: Alto</span></div>
            }
            if (intento < partida.NroAleatorio)
            {
                <div> @intento  <span>: Bajo</span></div>
            }
        }


    }


}





<div>@Html.ActionLink("Cambiar de jugador", "Salir", "Jugar")</div>
<div>@Html.ActionLink("Iniciar Juego Nuevo", "NuevaPartida", "Jugar")</div>