﻿@using Adivinator.Models

@{
    ViewBag.Title = "Perdiste";
    var partida = (Partida)Session["partida"];
}

<h2>Loser!!!!</h2>
<h2>Perdiste, el número era @partida.NroAleatorio</h2>


<div>@Html.ActionLink("Inicio", "Index", "Home")</div>
<div>@Html.ActionLink("Cambiar de jugador", "Salir", "Jugar")</div>
<div>@Html.ActionLink("Iniciar Juego Nuevo", "NuevaPartida", "Jugar")</div>