﻿@using Adivinator.Models;
@using Adivinator004.Models;


@{
    ViewBag.Title = "Adivinator";
}

<h2>Adivinator</h2>

@{
    var partida = (Partida)Session["partida"];
    Juego juego = Juego.Instancia;
    var mejor = juego.Ranking.OrderByDescending(x => x.Value).Take(1);
    
    
    //var mejor = juego.Ranking.ElementAt(0);
    
   
}

@if (partida != null)
{
    <h2>Hola, @partida.jugador.Nombre </h2>
    <h3>En esta sesión ganaste @partida.jugador.partidasGanadas partidos, y tenés @partida.jugador.puntosJugador puntos</h3>
    <h3>Tu mejor marca de la sesión es @partida.jugador.MejorMarca</h3>

    <h3>
        El mejor jugador de todos es @foreach (var best in mejor) {@best.Key} con @foreach (var best in mejor) {@best.Value} puntos
    </h3>

    <h3>@ViewBag.CookieNom</h3>
    <h3>@ViewBag.CookiePuntos</h3>
    <h3>@ViewBag.CookieGanados</h3>



    <div>@Html.ActionLink("Cambiar de jugador", "Salir", "Jugar")</div>
    <div>@Html.ActionLink("Iniciar Juego Nuevo", "NuevaPartida", "Jugar")</div>


}
else
{
    <h3>@ViewBag.CookieNom</h3>
    <h3>@ViewBag.CookiePuntos</h3>
    <h3>@ViewBag.CookieGanados</h3>

    <form action='@Url.Action("Index")' method="post">

        <label>Ingresá tu nombre</label>
        <input type="text" name="nom" required />


        <input type="submit" value="ingresar" />

    </form>

}
